# Local .terraform directories
**/.terraform/*

*.tfstate
*.tfstate.*
*.tfstate.backup

# Crash log files
crash.log
crash.*.log

# .terraform.lock.hcl

# tfvars CAN contain secrets
# *.tfvars

# CLI configuration files
.terraformrc
terraform.rc

# OS / editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/